{% extends "base.html.twig" %}


{% block title %}Episode :{{ episode.id }}
{% endblock %}


{% block body %}
	<h1 class="mt-0">{{ program.title }}</h1>
	<h1 class="mt-0">{{ season.description }}</h1>
	<h1 class="mt-0">Episode{{ episode.id }}: {{ episode.title }}</h1>

			<pre></pre>
			<a>
				{{ episode.synopsis }}
			</a>
			<pre></pre>

			<a href="{{ path('program_index') }}">

				Retour à la liste des programmes

			</a>

		{% endblock %}
