{% extends "base.html.twig" %}


{% block title %}Episode : {{ episode.number }}
{% endblock %}

{% block body %}

	<h1 class="mt-0">{{ program.title }}</h1>
	<h1 class="mt-0">saison: {{ season.number }}</h1>
	<h1 class="mt-0">Episode {{ episode.number }}  : {{ episode.title }}</h1>

			<pre></pre>
			<a>
				{{ episode.synopsis }}
			</a>
			<pre></pre>

			<a href="{{ path('program_index') }}">

				Retour à la liste des programmes

			</a>

		{% endblock %}
