{% extends "base.html.twig" %}
{% block title %}All programs
{% endblock %}

{% block body %}
	<h1 style="color:white;text-align:center;">Toutes les séries:
	</h1>
	<a href="/program/new">
		ajouter program
	</a>

	<div class="row" style="margin:.0.5rem;width:100%;">
		{% for program in programs %}

			<div class="col-sm-3" style="margin:auto;">

				<div class="card text-white bg-dark card" style="width: 27.1rem;height: 58rem;margin-bottom:1.5rem;">
					<img src="{{program.poster}}" class="card-img-top" alt="{{ program.title }}" style="width: 27rem;height: 40rem;">
					<div class="card-body" style="display: flex;flex-direction: column;">


						<h5 class="card-title" style="text-align:center;">{{ program.title }}</h5>
						<strong>
							<h6 class="card-title">{{ program.category.name }}</h6>
						</strong>

						<p class="card-text">{{ program.summary|striptags|length > 300 ? program.summary|striptags|slice(0, 300) ~ '...' : program.summary|striptags }}</p>
						<a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary" style="margin-top:auto;">Voir la fiche</a>
					</div>
				</div>
			</div>

		{% else %}
			Aucune série trouvée.
		{% endfor %}
	</div>

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>

{% endblock %}
