{% extends "base.html.twig" %}


{% block title %}Saison {{ season.number }}
{% endblock %}


{% block body %}

	<div class="media">
		<h1 class="mt-0">{{ program.title }}</h1>
		<h1 class="mt-0">{{ season.year }}</h1>
		<h1 class="mt-0">{{ season.description }}</h1>
		<div class="select-container">
			<div class="row" style="margin:auto ;width:100%;">
				{% for episodes in episode %}


					<div class="col-sm-1"style="margin-top: 4rem;
												height:4rem;
												font-size: 1.5rem;
												color: black;
												margin-bottom: 2rem;
												margin-left:auto;
												margin-right:auto;
												text-decoration: none;
												padding: 0.5rem 1rem 0.5rem 1rem;
												border-radius: 10px;
												width:28rem;
												background: black;">


						<a href="/program/{{ program.slug }}/season/{{ season.number }}/episode/{{ episodes.slug }}" style="color: white ;height:15rem;font-size: 1.2rem;">{{ loop.index }}/{{ episodes.title }}</a>

					</div>

				{% else %}

					Aucune saison trouvée.

				{% endfor %}


			</div>

			<a href="{{ path('program_index') }}"style="margin-top: 4rem;
												height:4rem;
												font-size: 1.5rem;
												color: black;
												margin-bottom: 2rem;
												margin-left:auto;
												margin-right:auto;
												text-decoration: none;
												padding: 0.5rem 1rem 0.5rem 1rem;
												border-radius: 10px;
												width:28rem;
												background: black;
												color:white;">

				Retour à la liste des programmes

			</a>

		{% endblock %}
