{% extends "base.html.twig" %}



{% block title %}Série #{{ program.id }}
{% endblock %}



{% block body %}

	<div class="media"style="color:white;text-align:center;">

		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster" style="width : 20rem; margin-top: 1rem">

		<div class="media-body">

			<h1 class="mt-0">{{ program.title }}</h1>

			<p style="width : 90%; text-align: center; margin: auto;font-size: 1.2rem;">{{ program.summary }}</p>

			<p>Catégorie :<strong>
					{{ program.category.name }}</strong>
			</p>

		</div>

	<div class="row" style="margin:auto ;width:100%;">
	<div class="row" style="margin:auto ;width:100%;">
		{% for seasonNumber in seasonNumbers %}
<div class="col-sm-1"style="margin-top: 4rem;
												height:4rem;
												font-size: 1.5rem;
												color: black;
												margin-bottom: 2rem;
												margin-left:auto;
												margin-right:auto;
												text-decoration: none;
												padding: 0.5rem 1rem 0.5rem 1rem;
												border-radius: 10px;
												width:28rem;
												background: black;">


			<a  href="/program/{{ program.id }}/season/{{ seasonNumber.Id }}"style="color: white ;height:15rem;font-size: 1.2rem;">saison {{ seasonNumber.Id }} </a>
			{#<a class="select" href="{{ path("program_show_Season",{ "program": program.id , "season": seasonNumber.Id  })}}">saison {{ seasonNumber.Id }} </a>#}

		</div>


	{% else %}
	<p style="width : 90%; text-align: center; margin: auto;font-size: 1.5rem;">Aucune saison trouvée.</p>

		

	{% endfor %}
</div>
	<pre></pre>


	<a href="{{ path('program_index') }}"style="margin-top: 4rem;
												height:3.4rem;
												font-size: 1.5rem;
												color: black;
												margin-bottom: 2rem;
												margin-left:auto;
												margin-right:auto;
												text-decoration: none;
												padding: 0.5rem 1rem 0.5rem 1rem;
												border-radius: 10px;
												width:28rem;
												background: black;
												color:white;">

		Retour à la liste des programmes

	</a>

{% endblock %}